include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/matomo_js *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/matomo_js/migration *.ini *.py *.mako
